<h2>привет и все</h2>

<div class="row">
	<% @products.each do |p| %>
	<div class="col-md-3">
		<%= p.title %><br>
		<img src=" <%= p.path_to_imege %>" /><br>
		<%= p.description %> <br>
		<%= p.price %> руб. 
		

	</div>
	<% end %>

</div>
<button class="btn btn-primary" onclick="somthing()" > clik me</button>

